**Data Types and Structures Practicle Questions**

In [1]:
#question 1. Create a string with your name and print it
name = "John Doe"
print(name)

John Doe

In [2]:
#Question 2. Find the length of the string "Hello World"
print(len("Hello World"))

11

In [3]:
# Question 3. Slice the first 3 characters from the string "Python Programming"
print("Python Programming"[:3])

Pyt

In [4]:
# Question 4. Convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [5]:
# Question 5. Replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [6]:
# Question 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# Question 7. Append the number 10 to the list [1, 2, 3, 4]
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [8]:
# Question 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
list2 = [1, 2, 3, 4, 5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [9]:
# Question 9. Access the second element in the list ['a', 'b', 'c', 'd']
print(['a', 'b', 'c', 'd'][1])

b

In [10]:
# Question 10. Reverse the list [10, 20, 30, 40, 50]
list3 = [10, 20, 30, 40, 50]
list3.reverse()
print(list3)

[50, 40, 30, 20, 10]

In [11]:
# question 11. Create a tuple with the elements 100, 200, 300 and print it
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [12]:
# Question 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
print(('red', 'green', 'blue', 'yellow')[-2])

blue

In [13]:
# Question 13. Find the minimum number in the tuple (10, 20, 5, 15)
print(min((10, 20, 5, 15)))

5

In [14]:
#Question 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
print(('dog', 'cat', 'rabbit').index("cat"))

1

In [15]:
#Question 15. Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [16]:
# Question 16. Create a set with the elements 'a', 'b', 'c' and print it
set1 = {'a', 'b', 'c'}
print(set1)

{'c', 'a', 'b'}

In [17]:
# Question 17. Clear all elements from the set {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [18]:
# Question 18. Remove the element 4 from the set {1, 2, 3, 4}
set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [19]:
# question 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
set4 = {1, 2, 3}
set5 = {3, 4, 5}
print(set4 | set5)

{1, 2, 3, 4, 5}

In [20]:
# Question 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
print({1, 2, 3} & {2, 3, 4})

{2, 3}

In [21]:
# Question 21. Create a dictionary with the keys "name", "age", and "city", and print it
dict1 = {"name": "Alice", "age": 30, "city": "New York"}
print(dict1)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [22]:
# Question 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict2 = {'name': 'John', 'age': 25}
dict2["country"] = "USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# Question 23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
print({'name': 'Alice', 'age': 30}["name"])

Alice

In [24]:
#Question  24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict3["age"]
print(dict3)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# Question 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict4 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict4)

True

In [26]:
#Question 26. Create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [27]:
# Question 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
random_list = random.sample(range(1, 101), 5)
random_list.sort()
print(random_list)

[28, 66, 68, 84, 93]

In [28]:
# Question 28. Create a list with strings and print the element at the third index
str_list = ["apple", "banana", "cherry", "date", "fig"]
print(str_list[3])

date

In [29]:
# Question29. Combine two dictionaries into one and print the result
dict5 = {"a": 1, "b": 2}
dict6 = {"c": 3, "d": 4}
combined_dict = {**dict5, **dict6}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# Question 30. Convert a list of strings into a set
str_list2 = ["dog", "cat", "rabbit", "dog"]
print(set(str_list2))

{'dog', 'cat', 'rabbit'}